<!DOCTYPE html>
<html lang="fr">
<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  
  <title>Barter Project</title>


  <!-- Angular JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.min.js"></script>
  
  <!-- Angular Material -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css">
  
  <!-- Font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  <!-- AWS SDK -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.42.min.js"></script>
  
  <!-- Alertify JS -->
  <script src="//cdn.jsdelivr.net/alertifyjs/1.6.1/alertify.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/alertify.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.6.1/css/themes/default.min.css"/>
  
  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
  
  <!-- AWS Cognito Credentials Hardcoded -->
  <script>
    AWS.config.region = 'us-east-1'; // Region
    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: 'us-east-1:0eb351fe-a9b6-4f00-ab1f-393802d750a5'
    });
  </script>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9nth27dUJAzcSgDx7lgoH2543Ti8p3rg&callback=angular.noop"
  type="text/javascript"></script>
  
</head>

<body ng-app="BarterApp">
  
  <!-- Facebook init -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '183410368715086',
        xfbml      : true,
        version    : 'v2.5'
      });
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <div ng-controller="MenuCtrl" layout="row" class="grey-background" style="height: 100vh;">
    
    <!-- Sidenav -->
    <md-sidenav class="primary left-sidenav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="sidenav" ng-cloak>
    
      <!-- Menu header -->
      <md-toolbar class="md-tall left-sidenav-header primary secondary-text">
        <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset" ng-class="{'full-height': !auth}">
          <div ng-if="auth" class="user-avatar">
            <img class="image-icon" src="{{ user.picture.data.url }}"></img>
          </div>
          <div ng-if="!auth" class="user-avatar">
            <md-icon class="material-icons" style="font-size:64px;height:64px;width:64px;color:#009688;">person</md-icon>
          </div>
          <div ng-if="auth" style="font-weight: bold;">{{ user.name }}</div>
          <div ng-if="auth" style="font-style: oblique;">{{ user.email }}</div>
          <div ng-if="!auth" style="font-weight: bold;">Invité</div>
        </div>
      </md-toolbar>
      
      <!-- Menu content -->
      <md-content class="left-sidenav-content">
        <md-list>
          <md-button ng-if="auth" ng-click="go(item.link, item.title)" ng-class="{ first:$first }" class="md-primary md-raised" ng-repeat="item in menu_items.auth">
            <div layout="row">
              {{ item.title }}
              <span flex></span>
              <md-icon class="material-icons">{{ item.icon }}</md-icon>
            </div>
          </md-button>
          <md-button ng-if="auth" class="md-primary md-raised" ng-click="signOut()">
            <div layout="row">
              Se déconnecter
              <span flex></span>
              <md-icon class="material-icons">power_settings_new</md-icon>
            </div>
          </md-button>
          <md-button ng-if="!auth" class="md-primary md-raised" ng-click="signInWithFacebook()">
            <div layout="row">
              Se connecter - Facebook
              <span flex></span>
              <i class="mdi mdi-facebook-box"></i>
            </div>
          </md-button>
        </md-list>
      </md-content>
      
    </md-sidenav>
    
    <div layout="column" flex>
      
      <!-- Toolbar -->
      <md-toolbar class="md-primary" ng-cloak>
        <div class="md-toolbar-tools">
            
            <md-button class="md-icon-button" hide-gt-md ng-click="toggleMenu()">
              <md-icon class="material-icons">menu</md-icon>
            </md-button>
            
            <span flex></span>

            <!-- Title -->
            <h2>{{ view.title }}</h2>
            
        </div>
      </md-toolbar>
      
      <!-- Content -->
      <md-content>
        
        <div ng-view class="grey-background"></div>
        
      </md-content>
      
    </div>

  </div>
  
  <!-- Main JS Files -->
  <script src="js/app.module.js"></script>
  <script src="js/app.routes.js"></script>
  <script src="js/app.themes.js"></script>
  
  <!-- Services -->
  <script src="js/services/LocalStorageService.js"></script>
  <script src="js/services/SessionService.js"></script>
  <script src="js/services/UtilService.js"></script>
  
  <!-- Factories -->
  <script src="js/factories/CategoryFactory.js"></script>
  <script src="js/factories/ProductFactory.js"></script>
  <script src="js/factories/BucketFactory.js"></script>
  <script src="js/factories/AuthFactory.js"></script>
  <script src="js/factories/MessageFactory.js"></script>
  <script src="js/factories/ProductHistoryFactory.js"></script>
  <script src="js/factories/FileFactory.js"></script>
  <script src="js/factories/ImageFactory.js"></script>
  <script src="js/factories/UserFactory.js"></script>
  <script src="js/factories/OfferFactory.js"></script>
  <script src="js/factories/GoogleMapFactory.js"></script>
  
  <!-- Controllers -->
  <script src="js/controllers/HomeCtrl.js"></script>
  <script src="js/controllers/CatalogueCtrl.js"></script>
  <script src="js/controllers/MessageCtrl.js"></script>
  <script src="js/controllers/MenuCtrl.js"></script>
  <script src="js/controllers/ProductCtrl.js"></script>
  <script src="js/controllers/EditProductCtrl.js"></script>
  <script src="js/controllers/OfferCtrl.js"></script>
  <script src="js/controllers/SignUpCtrl.js"></script>
  <script src="js/controllers/OffersCtrl.js"></script>
  <script src="js/controllers/HelpCtrl.js"></script>
</body>
</html>
