md-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.user-avatar {
    background-color: white;
    border-radius: 100%;
    margin-bottom: 10px;
}

.user-avatar md-icon {
    color: rgba(0,0,0,0.54) !important;
}

.full-height {
    height: 100%;
}

.grey-background {
    background-color: #F6F6F6;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.left-sidenav {
    width: 272px;
    max-width: 272px;
    min-width: 272px;
    background-color: #F6F6F6;
}

.left-sidenav-header {
    background-color: #3F51B5;
}

.left-sidenav-content {
    background-color: #F6F6F6;
}

.left-sidenav-content md-list {
    padding: 0px;
}

.left-sidenav-content .first {
    border-top: 1px solid white;
}

.left-sidenav-content button {
    border-radius: 0;
    border-bottom: 1px solid white;
    color: rgba(0,0,0,0.54);
}

.left-sidenav-content .layout-row {
    padding: 5px;
}

.left-sidenav-content .md-button {
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mdi {
    margin-top: 5px;
    font-size: 24px !important;
}

.div-button {
   padding-top: 10px;
}

.card-title {
    border-bottom: 1px solid #DDD;
    background-color: #F6F6F6;
}

#home-view md-card-content {
    padding-bottom: 0;
}

#home-view md-card-content md-input-container {
    margin-bottom: 0;
} 

#catalog-view md-card-content {
    padding-bottom: 0;    
}

#catalog-view .product-research md-card-content md-input-container {
    margin-bottom: 0;
}


.loading {
    height: 92vh;
}