<div ng-cloak id="catalog-view">

    <!-- Loading -->
    <div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
    </div>

    <!-- Page content -->
    <div layout="column" flex ng-show="data_loaded">
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            
            <!-- My catalog tab -->
            <md-tab label="Mon catalogue">
                <md-card flex>
                    <md-card-title class="card-title">
                        <md-card-title-text>
                            <span class="md-headline">Mes annonces</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div ng-cloak layout-gt-sm="row" layout="column">
                            <div flex-gt-sm="50" flex>
                                <md-list-item class="md-3-line" ng-repeat="product in products">
                                    <md-divider></md-divider>
                                    <div class="md-list-item-text" layout="column">
                                        <h3>Nom: {{ product.product_name.S }}</h3>
                                        <h4>Catégorie: {{ product.category_id.S}}</h4>
                                        <p>Description: {{ product.product_description.S }}</p>
                                        <img ng-src="{{ product.image_names['SS'][0] }}" class="md-avatar">
                                    </div>
                                </md-list-item>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </md-tab>
            
            <!-- Add a product tab -->
            <md-tab label="Ajouter une annonce">
                <md-card flex>
                    <md-card-title class="card-title">
                        <md-card-title-text>
                            <span class="md-headline">Ajout d'une annonce</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <form ng-submit="submit()" class="md-inline-form" name="addProductForm" ng-cloak>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Nom du produit</label>
                                    <input ng-model="new_product.product_name" name="productName" required>
                                    <div ng-messages="addProductForm.productName.$error">
                                        <div ng-message="required">Veuillez entrer le nom de votre nouveau produit.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Description du produit</label>
                                    <input name="productDescription" type="textarea" ng-model="new_product.product_description" md-maxlength="200" rows="5" md-select-on-focus required>
                                    <div ng-messages="addProductForm.productDescription.$error">
                                        <div ng-message="required">Veuillez entrer la description de votre nouveau produit.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Categories</label>
                                    <md-select ng-model="new_product.category_id" name "productCategory" required>
                                        <md-option ng-repeat="category in categories" value={{category.category_id.S}}>{{category.category_name.S}}</md-option>
                                    </md-select>
                                    <div ng-messages="addProductForm.productCategory.$error">
                                        <div ng-message="required">Veuillez sélectionner la catégorie de votre nouveau produit.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <input id="imageFile" type="file">
                                </md-input-container>
                            </div>
                        </form>
                    </md-card-content>
                     <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary" ng-disabled="addProductForm.$invalid" ng-click="addProduct(new_product)">Créer produit</md-button>
                        <span flex></span>
                    </md-card-actions>
                </md-card>
            </md-tab>
            
        </md-tabs>
    </div>
</div>

<!--
<md-list-item class="md-3-line" ng-repeat="product in products">
    <md-divider></md-divider>
    <div class="md-list-item-text" layout="column">
        <h3>Nom: {{ product.product_name.S }}</h3>
        <h4>Tags: {{ product.product_tags.S }}</h4>
        <p>Description: {{ product.product_description.S }}</p>
    </div>
</md-list-item>
-->