<div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
    <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
</div>
<div ng-cloak id="edit-product-view" ng-show="data_loaded">
    <div layout="column" flex>
        <md-card flex>
            <md-card-title class="card-title">
                <md-card-title-text>
                    <span class="md-headline">Modification d'une annonce</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <form ng-submit="submit()" class="md-inline-form" name="editProductForm" ng-cloak>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nom du produit</label>
                            <input ng-model="new_product.product_name" name="productName" value="pouet" required>
                            <div ng-messages="editProductForm.productName.$error">
                                <div ng-message="required">Veuillez entrer le nouveau nom de votre produit.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Description du produit</label>
                            <input name="productDescription" type="textarea" ng-model="new_product.product_description" md-maxlength="200" rows="5" md-select-on-focus required>
                            <div ng-messages="addProductForm.productDescription.$error">
                                <div ng-message="required">Veuillez entrer la nouvelle description de votre produit.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Categories</label>
                            <md-select ng-model="new_product.category_id" name "productCategory" required>
                                <md-option ng-repeat="category in categories" value={{category.category_id.S}}>{{category.category_name.S}}</md-option>
                            </md-select>
                            <div ng-messages="editProductForm.productCategory.$error">
                                <div ng-message="required">Veuillez sélectionner la nouvelle catégorie de votre produit.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                             <input ng-model="imagesToUpload" onchange="angular.element(this).scope().fileChanged()" id="imageFile" name="file[]" type="file" multiple />
                        </md-input-container>
                    </div>
                </form>
                <md-subheader class="md-primary md-no-sticky">Images</md-subheader>
                
    
                <div layout="row">
                    <div flex="30" layout="column" layout-align="center center" ng-show="imagesToPreview.length > 0">
                        <ul class="photos-navigation">
                            <li ng-repeat="img in imagesToPreview" flex ng-hide="!isCurrentImgIndex($index)">
                                <img ng-src="{{ img.image.src }}" class="md-card-image" />
                            </li>
                        </ul>
                         <div ng-show="imagesToPreview.length > 1">
                            {{ currentImgIndex + 1 }} / {{ imagesToPreview.length }}
                        </div>
                        <div class="photos-scroll" flex layout="row" ng-show="imagesToPreview.length > 1">
                            <md-button class="md-icon-button md-primary" ng-click="showPreviousImg()">
                                <md-icon class="material-icons">arrow_back</md-icon>
                                <md-tooltip md-direction="left">Photo prédécente</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-primary" ng-click="showNextImg()">
                                <md-icon class="material-icons">arrow_forward</md-icon>
                                <md-tooltip md-direction="right">Photo suivante</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <md-button class="md-raised md-primary" ng-disabled="selected_product.image_urls['SS'].length == 0" ng-click="removeImageFromProduct()">Supprimer l'image</md-button>
                <md-button class="md-raised md-primary" ng-disabled="imagesToDelete.length == 0" ng-click="undoRemoveImageFromProduct()">Undo supprimer l'image</md-button>
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">
                <md-button class="md-raised md-primary" ng-disabled="editProductForm.$invalid" ng-click="editProduct(new_product)">Modifier produit</md-button>
                <span flex></span>
            </md-card-actions>
        </md-card>
    </div>
</div>