<div style="height: 100vh" ng-cloak>
    
    <!-- Main Toolbar -->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Welcome on {{ project_name }}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-if="!is_auth">
                <i class="material-icons">input</i>
            </md-button>
            <md-button class="md-icon-button" ng-if="!is_auth">
                <i class="material-icons">input</i>
            </md-button>
        </div>
    </md-toolbar>
    
</div>