<div ng-cloak>
    
    <div layout="row">
        <div flex="20"></div>
        <md-card flex="60">
            <md-card-title style="background-color:#3F51B5;">
                <md-card-title-text>
                    <span style="color:white;" class="md-headline">Annonces</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Nom du produit</label>
                        <input ng-model="productToFind">
                    </md-input-container>
    
                    <md-input-container style="margin-right: 10px;">
                        <label>Categories</label>
                        <md-select ng-model="selectedCategory">
                            <md-option ng-repeat="category in categories" ng-value="{{category}}">{{category.category_name.S}}</md-option>
                        </md-select>
                    </md-input-container>
                
                    <md-input-container>
                        <md-button class="md-raised md-primary" ng-click="searchProduct()">Rechercher</md-button>
                    </md-input-container>
                </div>
                <div ng-cloak layout-gt-sm="row" layout="column">
                <div flex-gt-sm="50" flex>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-repeat="product in productsToDisplay">
                        <md-divider></md-divider>
                        <div class="md-list-item-text" layout="column">
                            <h3>Nom: {{ product.product_name.S }}</h3>
                            <h4>Tags: {{ product.product_tags.S }}</h4>
                            <p>Description: {{ product.product_description.S }}</p>
                        </div>
                    </md-list-item>
                </div>
            </div>
                
            </md-card-content>
        </md-card>
    </div>
</div>