<md-dialog flex>
    <md-dialog-content layout-md-lg="row">
        <div ng-app="BarterApp" ng-controller="NotificationsCtrl" ng-cloak>

            <!-- Page content -->
            <md-card>
                <md-card-title class="responde-card-title">
                    <md-card-title-text>
                        <span class="md-headline">Écrire un nouveau message</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <form name="newMessageForm">
                        <h4>Envoyer un message à afin d'en savoir plus sur l'annonce.</h4>
                        <md-input-container class="md-block">
                            <label>Votre message</label>
                            <input required="" md-maxlength="300" type="textarea" placeholder="Contenu du message" name="messageText" ng-model="newMessage">
                            <div ng-messages="newMessageForm.messageText.$error">
                                <div ng-message="required">Ce champs est obligatoire.</div>
                            </div>
                        </md-input-container>
                    </form>
                    <md-button class="md-raised" ng-click="cancel()">Annuler</md-button>
                    <md-button class="md-raised" ng-disabled="messageForm.$invalid" ng-click="createNewMessage()">Envoyer</md-button>
                </md-card-content>
            </md-card>
    </md-dialog-content>
    </div>
</md-dialog>