<div ng-cloak id="catalog-view">

    <!-- Loading -->
  

    <!-- Page content -->
    <div layout="column" flex>
        <md-card>
            
        </md-card>

        <h1></h1>
        
        <md-button ng-click="testGoogleMap">test</md-button>
        
    </div>
</div>

<!--
<md-list-item class="md-3-line" ng-repeat="product in products">
    <md-divider></md-divider>
    <div class="md-list-item-text" layout="column">
        <h3>Nom: {{ product.product_name.S }}</h3>
        <h4>Tags: {{ product.product_tags.S }}</h4>
        <p>Description: {{ product.product_description.S }}</p>
    </div>
</md-list-item>
-->