<div ng-cloak id="product-view">
    
    <div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
    </div>
    
    <!-- Page content -->
    <div layout="row" layout-align="center center" flex ng-show="data_loaded">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ selected_product.product_name.S }}</span>
                    <span class="md-subhead">{{ selected_product.category_name.S }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-divider></md-divider>
            <md-card-content layout="row" layout-align="center center">
                <div flex="26" class="md-media-md card-media" layout="column">
                    <ul class="photos-navigation">
                        <li ng-repeat="img in selected_product.image_names['SS']" flex ng-hide="!isCurrentImgIndex($index)">
                            <img ng-src="{{ img }}" class="md-card-image" />
                        </li>
                    </ul>
                    <div class="photos-scroll" flex layout="column" layout-align="center center">
                        <div>
                            {{ currentImgIndex + 1 }} / {{ selected_product.image_names['SS'].length }}
                        </div>
                        <div class="photos-scroll" flex layout="row" layout-align="center center">
                            <md-button class="md-icon-button md-primary" ng-click="showNextImg()">
                                <md-icon class="material-icons">arrow_back</md-icon>
                                <md-tooltip md-direction="left">Photo prédécente</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-primary" ng-click="showPreviousImg()">
                                <md-icon class="material-icons">arrow_forward</md-icon>
                                <md-tooltip md-direction="right">Photo suivante</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div flex layout="column" class="product-details-description">
                    {{ selected_product.product_description.S }}
                </div>
            </md-card-content>
            <md-list-item class="md-3-line" ng-repeat="product in userProducts">
                <md-divider></md-divider>
                <div class="md-list-item-text" layout="column">
                    <h3>Nom: {{ product.product_name.S }}</h3>
                    <md-checkbox class="md-primary" ng-click="onProductChecked(product)"></md-checkbox>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-card-actions layout="row" layout-align="start center">
                Affiché le {{ selected_product.product_date.S }}
                <span flex></span>
                <md-button class="md-primary md-raised" ng-disabled="productToOffer.length == 0" ng-click="showConfirm($event)">
                    <md-icon class="material-icons">local_offer</md-icon>
                    Faire une offre
                </md-button>
                <md-button class="md-primary md-raised" ng-click="newMessage($event, selected_product)">
                    <md-icon class="material-icons">message</md-icon>
                    Envoyer un message
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>