<div id="sign-up-view">
    <div class="loading grey-background" layout="column" layout-align="center center" ng-show="show_loading">
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
    </div>
    <md-card flex ng-hide="show_loading">
        <md-card-title class="card-title">
            <md-card-title-text>
                <span class="md-headline">Inscription</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="signupForm">
                <div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block">
                        <label>Email</label>
                        <input type="email" name="email" ng-model="user.email" required />
                        <ng-messages for="signupForm.email.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Nom</label>
                        <input type="text" name="name" ng-model="user.name" required />
                        <ng-messages for="signupForm.name.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <md-input-container flex class="md-block">
                        <label>Adresse postale</label>
                        <input type="text" name="address" ng-model="user.address" required />
                        <ng-messages for="signupForm.address.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Pays</label>
                        <input type="text" name="country" ng-model="user.country" ng-disabled="false" required />
                        <ng-messages for="signupForm.country.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container flex class="md-block" ng-show="user.country === 'Canada'">
                        <label>Province</label>
                        <input type="text" name="province" ng-model="user.province" required />
                        <ng-messages for="signupForm.province.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Ville</label>
                        <input type="text" name="city" ng-model="user.city" required />
                        <ng-messages for="signupForm.city.$error">
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                        </ng-messages>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Code postal</label>
                        <input type="text" name="postalcode" ng-model="user.postalcode" ng-pattern="postalcode_regex" required />
                        <ng-messages for="signupForm.postalcode.$error" multiple>
                            <ng-message when="required">Ce champ est obligatoire.</ng-message>
                            <ng-message when="pattern">Vous devez entrer un code postal valide (ex: A1B 2C3).</ng-message>
                        </ng-messages>
                    </md-input-container>
                </div>
                
                <div id="map" ng-show="showMap" style="width:500px; height:400px;"></div>
                
            </form>
            
            
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-raised md-primary" ng-click="signUp()">M'inscrire</md-button>
        </md-card-actions>
    </md-card>
</div>