<md-dialog flex>
    <md-dialog-content>
        <div ng-cloak="" ng-init="init()" layout-md-lg="row">
            
            <!-- Loading -->
            <div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
                <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
            </div>
            
            <md-card ng-show="data_loaded" class="offer-message-dialog">
                <md-card-title class="responde-card-title">
                    <md-card-title-text class="card-title-text">
                        <span class="md-headline">Offre de {{ offer.sender_name.S }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-content>
                    <md-card-content>
                        <div layout="row">
                            <div flex="50">
                                <div class="view-offer-content">
                                    <p>Voici l'offre que vous a fait {{ offer.sender_name.S }}</p>
                                    <br />
                                    <md-list class="messages-list" layout="column">
                                        <md-list-item class="md-2-line" ng-repeat="product in products_offered | orderBy: 'product_date'">
                                            <div class="list-image" flex="15" layout="column" layout-align="center center">
                                                <img ng-src="{{ product.image_urls['SS'][0] }}" />
                                            </div>
                                            <div class="md-list-item-text" flex="65" layout="column">
                                                <h3>{{ product.product_name.S }}</h3>
                                                <p>{{ product.product_description.S }}</p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                    <div layout="row" layout-align="center center">
                                        <md-icon class="material-icons">swap_vert</icon>
                                    </div>
                                    <md-list class="messages-list" layout="column">
                                        <md-list-item class="md-2-line">
                                            <div class="list-image" flex="15" layout="column" layout-align="center center">
                                                <img ng-src="{{ targeted_product.image_urls['SS'][0] }}" />
                                            </div>
                                            <div class="md-list-item-text" flex="65" layout="column">
                                                <h3>{{ targeted_product.product_name.S }}</h3>
                                                <p>{{ targeted_product.product_description.S }}</p>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                            <md-divider vertical></md-divider>
                            <div flex="50">
                                <div class="view-offer-content">
                                    <form name="messageForm">
                                        <p>Acceptez-vous cette offre? Envoyer un message à {{ offer.sender_name.S }}!</p>
                                        <br />
                                        <md-input-container class="md-block">
                                            <textarea required="" md-maxlength="300" placeholder="Le contenu de votre message" name="messageText" ng-model="messageText"></textarea>
                                            <div ng-messages="messageForm.messageText.$error">
                                                <div ng-message="required">Ce champs est obligatoire.</div>
                                            </div>
                                        </md-input-container>
                                        <md-button layout-align="center right" class="md-raised" ng-disabled="messageForm.$invalid" ng-click="sendNewMessage()">Envoyer</md-button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="messages-buttons" layout="row">
                            <md-button layout-align="center right" class="md-raised" ng-click="cancel()">Annuler</md-button>
                        </div>
                    </md-card-content>
                </md-content>
            </md-card>
    </md-dialog-content>
    </div>
</md-dialog>