<md-dialog flex>
    <md-dialog-content>
        <div ng-cloak="" ng-init="init()" layout-md-lg="row">

            <!-- Loading -->
            <div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
                <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
            </div>

            <md-card ng-show="data_loaded" class="offer-message-dialog">
                <md-card-title class="responde-card-title">
                    <md-card-title-text class="card-title-text">
                        <span class="md-headline">Offre de {{ offer.sender_name.S }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-content>
                    <md-card-content>
                        <div layout="row" flex>
                            <div layout="column" class="products-offered" flex="40">
                                <div layout="column">
                                    <div layout="row">
                                        <md-list class="messages-list" layout="column" layout-align="center start" flex>
                                            <md-list-item class="md-2-line">
                                                <ul class="offer-photos-navigation">
                                                    <li flex>
                                                        <img ng-src="{{ products_offered[currentProductIndex].image_urls.SS[0] }}" class="md-card-image" />
                                                    </li>
                                                </ul>
                                                <div class="md-list-item-text" flex="65" layout="column">
                                                    <h3>{{ products_offered[currentProductIndex].product_name.S }}</h3>
                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div layout="row" ng-show="products_offered.length > 1">
                                        <div layout="column" layout-align="start center">
                                            <div layout="row" class="switch-products-offered" flex>
                                                <md-button class="md-icon-button md-primary" ng-click="showPreviousProduct()">
                                                    <md-icon class="material-icons">arrow_back</md-icon>
                                                </md-button>
                                                <div ng-show="products_offered[currentProductIndex].image_urls.SS.length > 1">
                                                    {{ currentProductIndex + 1 }} / {{ products_offered.length }}
                                                </div>
                                                <md-button class="md-icon-button md-primary" ng-click="showNextProduct()">
                                                    <md-icon class="material-icons">arrow_forward</md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div layout="column" flex="20">
                                <md-icon class="material-icons">swap_horiz</icon>
                            </div>
                            <div layout="column" flex="40">
                                <md-list class="messages-list" layout="column">
                                    <md-list-item class="md-2-line">
                                        <ul class="offer-photos-navigation">
                                            <li flex>
                                                <img ng-src="{{ targeted_product.image_urls['SS'][0] }}" class="md-card-image" />
                                            </li>
                                        </ul>
                                        <div class="md-list-item-text" flex="65" layout="column">
                                            <h3>{{ targeted_product.product_name.S }}</h3>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                        <div layout="row" flex>
                            <div layout="row" layout-align="center center" flex>
                                <div layout="row" layout-align="center">
                                    <form name="messageForm">
                                        <div layout-align="center center" ng-show="!offer.offer_status.S">
                                            <div layout="row" layout-align="center center">
                                                <p>Acceptez-vous cette offre?</p>
                                            </div>
                                            <div layout="row" layout-align="center center">
                                                <md-button class="md-button md-primary" ng-click="confirmStatus($event, 'accepted')">
                                                    Accepter
                                                </md-button>
                                                <md-button class="md-button md-warn" ng-click="confirmStatus($event, 'declined')">
                                                    Refuser
                                                </md-button>
                                            </div>
                                        </div>
                                        <div layout-align="center center" ng-show="offer.offer_status.S">
                                            <div layout="row" layout-align="center center">
                                                <h4>Vous avez déjà répondu à cette offre.</h4>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-content>
            </md-card>
    </md-dialog-content>
    </div>
</md-dialog>