<div ng-init="init()" ng-cloak>
    
    <!-- Loading -->
    <div class="loading grey-background" layout="column" layout-align="center center" ng-show="!data_loaded">
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="80"></md-progress-circular>
    </div>
    
    <!-- Page content -->
    <div layout="column" flex ng-show="data_loaded">
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            
            <!-- New messages tab -->
            <md-tab label="Nouveaux messages" flex="50">
                <md-card flex>
                    <md-card-title class="card-title">
                        <md-card-title-text>
                            <span class="md-headline">Nouveaux messages</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="item in items" ng-if="!item.notification_read.BOOL" style="padding-left: 15px;">
                                <img ng-src="{{item.sender_picture.S}}" class="md-avatar">
                                <div class="md-list-item-text" layout="column" flex>
                                    <h3>{{ item.sender_name.S }}</h3>
                                    <h4>{{ item.sender_email.S }}</h4>
                                    <p>{{ item.notification_message.S | limitTo:150}}</p>
                                </div>
                                <div class="div-button" layout="row">
                                    <md-button class="md-raised" ng-click="updateNotificationAsRead(item.notification_id.S)">Ignorer</md-button>
                                    <md-button class="md-raised" ng-click="showAdvanced($event, item)">Répondre</md-button>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
            
            <md-tab label="Messages lus" flex="50">
                 <md-card flex>
                    <md-card-title class="card-title">
                        <md-card-title-text>
                            <span class="md-headline">Messages lus</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list flex="">
                            <md-list-item class="md-2-line" ng-repeat="item in items" ng-if="item.notification_read.BOOL">
                                <img ng-src="{{item.sender_picture.S}}" class="md-avatar">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.sender_name.S }}</h3>
                                    <h4>{{ item.sender_email.S }}</h4>
                                    <p>{{ item.notification_message.S }}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
            
        </md-tabs>
    </div>
</div>